<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>dynamic-codesigning</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>com.apple.private.metal.client</key>
	<true/>
	<key>com.apple.private.iokit.user-client-access</key>
	<dict>
		<key>IOAccelDevice</key>
		<true/>
		<key>IOAccelCommandQueue</key>
		<true/>
		<key>AGXDeviceUserClient</key>
		<true/>
	</dict>
	<key>com.apple.private.opengl</key>
	<true/>
	<key>com.apple.springboard.services</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboard.client</key>
	<true/>
	<key>com.apple.uikit.services</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.files.all-files.read-write</key>
	<true/>
	<key>com.apple.private.clipboard</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.private.cs.allow-unsigned-executable-memory</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>com.apple.private.mobileinstall.allow-external-apps</key>
	<true/>
	<key>com.apple.security.exception.iokit-user-client-class</key>
	<array>
		<string>IOAccelerator</string>
		<string>IOGPUDeviceUserClient</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>proc_info-allow</key>
	<true/>
	<key>run-unsigned-code</key>
	<true/>
	<key>application-identifier</key>
	<string>$(AppIdentifierPrefix)$(CFBundleIdentifier)</string>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.springboard.debugapplications</key>
	<true/>
</dict>
</plist>
